     <h1>List of photos</h1>
<hr>
<form action="/add_photo/:added_image">
  <label for="added_photo">Image</label>
  <input id="added_photo" type="text" name="image" placeholder="Enter a URL for the image...">

  <label for="photo_caption">Caption</label>
  <textarea id="photo_caption" name="caption" placeholder="Enter a caption for the photo..."></textarea>

  <label for="owner_id">Owner ID</label>
  <input id="owner_id" type="text" name="owner_id" placeholder="Enter an ID of a User">

  <button>Add photo</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <% @all_photos.each do |photo| %>
  <tr>
    <td>
      <img src="https://robohash.org/<%=photo.id%>?size=300x300&amp;set=set1">
    </td>

    <td>
      <%=photo.caption%>
    </td>

    <td>
      <%=@photographers.where(:id => photo.owner_id).first.username%>
    </td>

    <td>
      <%=photo.created_at%>
    </td>

    <td>
      <a href="/photos/<%= photo.id%>">
        Show details
      </a>
    </td>
  </tr>
  <%end %>
